@import './components/Header/Header.scss';

body {
  background-color: #333;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("../public/images/wp2212404.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Archivo", sans-serif;
}